@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.content {
    flex: 1 0 80%;
    background-color: #27292a;
    border-radius: 30px;
    padding: 20px;
    margin-left: 20px;
}

.container {
    background-color: #27292A;
    border: 1px;
    border-color: #27292A;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div form {
	text-align: left;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
	color: #F1F1F9;
	padding: 20px 15px;
}

.form-group {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
}

.label {
    font-size: 20px;
    font-weight: 400;
}

.input {
    width: 50%;
	background-color:#1F2122;
	color: #F1F1F9;
    border-color: #F1F1F9;
    border-radius: 10px;
	padding: 5px 5px;
	margin-bottom: 1px;
    margin-right: 15%;
}

.tombol {
	font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 180px;
	background: #FF5995;
	color: #F1F1F9;
	border: 1px;
	border-color: #FF5995;
    border-radius: 10px;
	padding: 10px 10px;
	margin-top: 10px;
	cursor: pointer;
	transition:all .38s ease-in-out;    
}

button:hover {
	background-color: #F1F1F9;
	color: #FF5995;
}