@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1F2122;
    padding: 20px;
    margin-left: 7%;
    margin-right: 7%;
}

.left-navbar h1 {
    font-size: 50px;
    font-weight: 800;
    font-size: 72px;
    background: -webkit-linear-gradient(left, #8B54E5 , #FF5995);
    background: -o-linear-gradient(right, #8B54E5, #FF5995);
    background: -moz-linear-gradient(right, #8B54E5, #FF5995);
    background: linear-gradient(to right, #8B54E5, #FF5995); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;
}

.left-navbar p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color : #ffffff;
    margin-top: 0;
}

.right-navbar h2 {
    text-align: right;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color : #929292;
    margin-bottom: 0;
}

.right-navbar p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color : #ffffff;
    margin-top: 0;
}